<footer class="footer">
  <p>
    Written by <span class="highlight"><%= config.author %></span> &#9836; Powered by
    <a href="https://hexo.io/" target="_blank" rel="nofollow">Hexo</a>
  </p>
  <p>
    <span class="highlight">&copy;</span> 2021 - <%- date(Date.now(), 'YYYY') %>
  </p>
</footer>