.footer {
  text-align: center;
  line-height: 0.5;
  font-size: 16px;
}

.footer a:link {
  color: #6062ce;
}
.footer a:visited {
  color: #6062ce;
}
.footer a:hover {
  color: #f00;
}
.footer .highlight {
  color: #6062ce;
}
