.post {
    margin: 1em auto;
    padding: 30px 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px #ddd;
}
.posts  {
    .post:first-child {
        margin-top: 0;
    }
    .post-title {
        font-size: 1.5em;
        .post-title-link {
            color: #368CCB;
            text-decoration: none;
        }
    }
    .post-content {
        a {
            color: #368CCB;
            text-decoration: none;
        }
    }
    .post-meta {
        color: #BABABA;
    }
}

.bg-blue {
    background-color: #6fa3ef;
}
.bg-purple {
    background-color: #bc99c4;
}
.bg-green {
    background-color: #46c47c;
}
.bg-yellow {
    background-color: #f9bb3c;
}
.bg-red {
    background-color: #e8583d;
}
.bg-orange {
    background-color: #f68e5f;
}